*{
    box-sizing: border-box;
    background: #091921;
} 
#base {
    color: #fff;
    font-size: 26.5px;
    font-family: Verdana;
    text-align: center;
    margin-bottom: 30px; 
}
#cotizacion{
    color: #fff;
    font-size: 20px;
    font-family: Verdana;
    text-align: center;
    margin-top: 20px;
    
}
#nombre{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 285px;
    
}
#value1
{
    margin-top: 7px;
    margin-bottom: 15px;
    width: 275px;

}
#base input{
    font-size: 32px;
    justify-items: center;
    text-align: left;
    height: 40px;
    color: #fff;
    border:solid 3px #fff;
    
}
#opcion11{
    border:solid 3px #fff;
    font-size: 20px;
    color:#fff;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 1px;
}



#cont1{ 
    margin: -5px;
    margin-top: 20px;
    margin-bottom: -5px;
}

#conver{
    
    font-size: 30px;
    border: solid 4px #fff;
    font-family: Impact;
    color: #fff;
    font-family: Verdana;
    text-align: center;
}
p{
    font-size: 16px;
}
@media (max-width:487px){
    #base input{
    font-size: 27px;
    justify-items: center;
    text-align: left;
    height: 50px;
    color: #fff;
    border:solid 3px #fff;
    
    }
    #conver{
        font-size: 30px; 
        border: solid 3px #fff;
        color: #fff;
        font-family: Verdana;
        text-align: center;
    }
    p{
        font-size: 10.8px;
    }
}
@media (width:320px){
    #base {
        color: #fff;
        font-size: 23px;
        font-family: Verdana;
        text-align: center;
        margin-bottom: 50px;
    }
    #base input{
    font-size: 24px;
    justify-items: center;
    text-align: left;
    height: 50px;
    color: #fff;
    border:solid 3px #fff;
    
    }
    #conver{
        font-size: 28px;
        border: solid 3px #fff;
        color: #fff;
        font-family: Verdana;
        text-align: center;
    }
    #opcion{
        border:solid 3px #fff;
        font-size: 24px;
        color:#fff;
    }
    p{
        font-size: 9px;
    }
    
}
@media (max-width:280px){
    #base {
        color: #fff;
        font-size: 23px;
        font-family: Verdana;
        text-align: center;
        margin-bottom: 50px;
    }
    #base input{
    font-size: 24px;
    justify-items: center;
    text-align: left;
    height: 50px;
    color: #fff;
    border:solid 3px #fff;
    
    }
    #conver{
        font-size: 28px;
        border: solid 3px #fff;
        color: #fff;
        font-family: Verdana;
        text-align: center;
    }
    #opcion{
        border:solid 3px #fff;
        font-size: 24px;
        color:#fff;
    }
    p{
        font-size: 7.9px;
    }
    
    
}



